h1{
  background-color:LightCyan;
}
.Olympics{
  background-color:MintCream;
}
#important{
  text-align:center;
}
.header{
  text-align:center;
  margin-bottom: 10px;
  color:#1161EE;
}
.content{
  padding: 10px;
  margin-bottom:10px;
  color:#640B29;
}
.footer{
  background-color: #F8E7FF;
}
.footer, .content, .header{
  font-family: 'Times New Roman';
}
