h1{
  background-color:LightCyan;
}
.Olympics{
  background-color:MintCream;
}
#important{
  text-align:center;
}
.header{
  text-align:center;
  margin-bottom: 60px;
  color:1161EE;
}
.content{
  padding: 10px;
  margin-bottom:10px;
  color: 640B29;
}
.footer{
  background-color: F8E7FF;
}
.footer, .content, .header{
  font-family: 'Times New Roman';
}
div a{
  padding:10px;
  background-color:640B29;
  color:white;
}
a>h1{
  background-color:A82F50;
  color:F8EDF0;
}
a + a{
  background-color:A42F4F;
  color:F8EDF0;
}
.nav-bar{
  background-color:A82F50;
}

  
