h1{
  background-color:LightCyan;
}
.Olympics{
  background-color:MintCream;
}
#important{
  text-align:center;
}
.header{
  text-align:center;
  margin-bottom: 60px;
  color:1161EE;
}
.content{
  padding: 10px;
  margin-bottom:10px;
  color: 640B29;
}
.footer{
  background-color: F8E7FF;
}
.footer, .content, .header{
  font-family: 'Times New Roman';
}

.nav-bar {
    background-color: Teal;
    overflow: hidden;
    margin-bottom: 20px;
}

.nav-bar a {
    float: left;
    display: block;
    color: BlanchedAlmond;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.image_sports{
  background-color: purple;
  width: 150px;
  padding:20px;
  margin:20px;
}

div a{
  background-color: purple;
  width: 150px;
  padding:20px;
  margin:20px;

}
ol > li{
  background-color:A82F50;
  color:F8EDF0;
}
li + li{
  background-color:A42F4F;
  color:F8EDF0;
}

  
